* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .fontes {
    display: flex;
    width: 100%;
    color: #fff;
  
    font-family: Arial, Helvetica, sans-serif
  }
  
  .fonte-maior {
    width: 1.4rem;
    height: 1.2rem;
    background-color: #707070;
    text-align: center;
    font-size: 1rem;
  }
  
  .fonte-menor {
    width: 1.4rem;
    height: 1.2rem;
    background-color: #707070;
    text-align: center;
    font-size: 1rem;
  }
  
  .menu {
    width: 29.99999%;
    color: #000;
    height: auto;
    float: left;
  }
  
  .dados {
    width: 69.99999%;
    color: #000;
    height: auto;
    float: right;
  }
  
  .margem {
   margin-left: 100%;
  }
  
  .search {
    background-color: #e4f3fa;
    height: 40px;
  }
  
  .link {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
      background-color: transparent;
      border: none;
  }